Problem3/__pycache__/challenge3.cpython-38.pyc
Problem3/__pycache__/challenge3test.cpython-38.pyc
Problem3/__pycache__/Node.cpython-38.pyc
Problem3/__pycache__/problem_test.cpython-38.pyc
.vscode/settings.json
